Checks: '*
    -readability-identifier-length,
    -readability-magic-numbers,
    -performance-avoid-endl,
    -bugprone-easily-swappable-parameters,
    -clang-analyzer-deadcode.DeadStores,
    -readability-isolate-declaration'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: file
